<h1>Ingresar Productos</h1>
 <form action="/api/productos" method="post">
      <label for="title">Nombre del producto</label>
      <input type="text" name="title" />
      <label for="price">Precio del producto</label>
      <input type="number" name="price" />
      <label for="thumbnail">URL del producto</label>
      <input type="text" name="thumbnail" />
      <button type="submit">Enviar</button>
  </form>
<button><a href="/productos">Ver Productos</a></button>